# Elasticsearch
ES_IMAGE=docker.elastic.co/elasticsearch/elasticsearch:7.17.25
ES_HTTP_PORT=9200

# Doris
DORIS_IMAGE=apache/doris:4.0.3-all-slim
DORIS_FE_HTTP_PORT=8030
DORIS_FE_MYSQL_PORT=9030
DORIS_BE_HTTP_PORT=8040
